@model ThuVien.ViewModels.DataViewModel
@{
    ViewBag.Title = "Index";
    var list = ViewBag.DataList as List<ThuVien.ViewModels.DataViewModel>;
}

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    // after every second timer
    setInterval(randomRgb, 1000);

    function randomRgb() {
        // create the rgb string
        var col = "rgb("
        + randomColor(255) + ","
        + randomColor(255) + ","
        + randomColor(255) + ")";

        //change the text color with the new random color
        document.getElementsByClassName("test").style.color = col;
    }

    function randomColor(num) {
        return Math.floor(Math.random() * num);
    }
</script>
<h2>Index</h2>

@*<div style="background: @String.Format("#{0:X6}", new Random((int)DateTime.Now.Ticks).Next(0x1000000));">ABCCCC</div>*@
<div id="divone" style="font:bold 24px verdana">DevCurry.com</div>
@*@foreach (var item in Model.gv.GroupBy(x => x.SoThe))
    {
        foreach (var i in item)
        {
            @i.HoTen@i.SoThe

            <br />
        }
    }*@
@foreach (var item in list.GroupBy(x => x.gv.SoThe))
{
    foreach (var gv in item)
    {
        @gv.gv.HoTen <br /> @gv.gv.SoThe <br /> @gv.gv.DienThoai
        <hr />
        @gv.mh.CourseID <br /> @gv.mh.TenMon <br /> @gv.mh.DuTruFrom.Date
        <hr />
        if (gv.TL_Sach != null)
        {
            @gv.TL_Sach.Nguon <br /> @gv.TL_Sach.DangDuTru<hr />
        }
        else if (gv.TL_BaiBao != null)
        {
            @gv.TL_BaiBao.Nguon <br /> @gv.TL_BaiBao.DangDuTru<hr />
        }
        else
        {
            @gv.TL_Khac.Nguon <br /> @gv.TL_Khac.MucDich<hr />
        }
    }
}
<hr />
<hr />